version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_parqueadero
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: parqueadero
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: parqueadero_app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: parqueadero
    command: ["node", "app.js"]

volumes:
  mysql_data:
